streamlit
scikit-learn
imblearn
langchain
langchain-community
python-dotenv
langchain-core
langchain-openai
langchain-anthropic
chromadb==0.5.3
langchain-chroma
docx2txt
pypdf
bs4
ipykernel
langchain-text-splitters
langchain-google-genai
langchain-groq
langchain-huggingface
google-generativeai